  
.sample-slider .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color:white
}
  
.swiper-button-next,
.swiper-button-prev {
  color: white;
}
/* .swiper {
  width: 100%;
  height: 100%;
} */